<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msb.air.mapper.AirMapper">
    <!--查询空气质量的SQL扔Mapper里-->
    <!--    List<Air> findByDistrictId(Integer airList);-->
    <select id="findByDistrictId" resultType="com.msb.air.entity.Air">
        select
            a.*
            ,d.name as district_name
        from air a
        inner join district d
        where
            a.district_id = d.id
            <if test="districtId != null">
                and a.district_id = #{districtId}
            </if>
    </select>
</mapper>